<div class="categoryWrapper mt-4">
  <div class="card">
    <div class="cardhead card-header d-flex justify-content-between">
      <h5>Products</h5>
      <a class="btn btn-dark" style="width: 100px;" data-bs-toggle="modal" data-bs-target="#categoryModal">Add</a>
    </div>
    <div class="card-body">
      <input type="text" class="form-control" placeholder="filter products .." aria-label="Recipient's username"
        aria-describedby="basic-addon2">
      <hr>
      <table class="table" style="height: 60%;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of products; let i = index">
            <th>{{ i + 1 }}</th>
            <td>{{ products.category }}</td>
            <td>{{ products.name }}</td>
            <td>{{ products.description }} </td>
            <td>{{ products.price }}</td>
            <td>
              <img [src]="products.imagePath" alt="" width="80px" height="80px">
            </td>
            <td>
              <button class="btn btn-dark" type="button" data-bs-toggle="modal" data-bs-target="#categoryModal"
                (click)="editProduct(products)">Edit</button>
            </td>
            <td>
              <button class="btn btn-dark" type="button" data-bs-toggle="modal"
                data-bs-target="#deleteModal" (click)="deleteModal(products)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content col-12">
      <form [formGroup]="formProducts" (ngSubmit)="createProducts()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <div class="d-flex mt-3">
              <span class="me-3">Category:</span>
              <select formControlName="category" class="form-select" aria-label="Default select example">
                <option *ngFor="let category of category" value="{{category.name}}"> {{ category.name }}</option>
              </select>
            </div>
            <div class="d-flex mt-3">
              <span class="me-3">Name:</span>
              <input formControlName="name" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="d-flex mt-3">
              <span class="me-3">Description:</span>
              <textarea formControlName="description" class="form-control"></textarea>
            </div>
            <div class="d-flex mt-3">
              <span class="me-3">Price:</span>
              <input formControlName="price" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mt-3">
              <input class="form-control" type="file" id="formFile" (change)='upload($event)'>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-dark" role="progressbar"
                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width.%]="uploadPercent"></div>
            </div>
            <img [src]="valueByControl('imagePath')" alt="" width="120px">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark" data-bs-dismiss="modal" [disabled]="formProducts.invalid">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" aria-hidden="true" aria-labelledby="deleteModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body d-flex justify-content-md-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          style="width: 40%; height: 60px;">Dismiss</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
          style="width: 40%; height: 60px;" (click)="deleteProduct()">Delete</button>
      </div>
    </div>
  </div>
</div>