<div class="container-fluid">
  <div class="d-flex align-items-start">
      <div style="width: 20%; margin: 20px;" class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link" type="button" [routerLink]="[ 'categories' ]" routerLinkActive="active bg-dark">Category</button>
        <button class="nav-link" type="button" [routerLink]="[ 'products' ]" routerLinkActive="active bg-dark">Products</button>
        <button class="nav-link" type="Blog" [routerLink]="[ 'blog' ]" routerLinkActive="active bg-dark">Blog</button>
      </div>
      <div class="tab-content" style="width: 70%;">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>